extends layout

block content
  .container-fluid
    .container
      .row
        .col-xs-12
          .panel
            button.btn.btn-lg.btn-info#retrieve Retrieve the API data
            .well#select-list
              


