doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title FutureStay API
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="/images/favicon-anchor.ico")
  body
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
    script(src="https://use.fontawesome.com/cd53706be4.js")
    script(src="/javascripts/app.js")
    .navbar.navbar-default
      .container
        span.navbar-brand Capt. James Reinknecht, Web Developer
    block content
		
    .container-fluid
      .footer
        h3.text-center Copyright 2017 Capt. Jim Reinknecht